.popup-message {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 10px;
    padding: 10px 15px;
    width: 350px;
    min-height: 80px;
    @media screen and (max-width:575px) {
        width: 90vw;
    }
}
.popup-message_style-class {
    border-radius: 4px;
    background-color: $brand-orange-color;
    -webkit-box-shadow: 0px 0px 8px $brand-orange-color;
            box-shadow: 0px 0px 8px $brand-orange-color;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
    @include open600;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}
.popup-message_hide {
    opacity: 0;
    visibility: hidden;
}
.message-wrapper {
    position: fixed;
    right: 15px;
    bottom: 15px;
    @media screen and (max-width:575px) {
        right: 50%;
        -webkit-transform: translate(50%, 0);
            -ms-transform: translate(50%, 0);
                transform: translate(50%, 0);
    }
}