.portfolio-slider {
    padding-top: 149px;
    min-height: 800px;
    background-color: $dark2;
    -webkit-user-select: none;

    .swiper-container {
        max-height: 600px;
        display: flex;
        justify-content: center;
    }

    .swiper-wrapper {
        max-width: 800px;
    
        &::before {
            content: '';
            position: absolute;
            left: -169px;
            top: 0;
            height: 124px;
            width: 2px;
            background-color: $brand-orange-color;
            z-index: 100;
        }
    }
    
    .swiper-slide {
        .swiper-slide__title {
            visibility: hidden;
            position: absolute;
            left: -169px;
            letter-spacing: 2px;
            top: 184px;
            text-shadow: 0px 0px 6px #17171780;
            font-size: 3.75rem;
            @include merriweather400;
            color: #fff;
        }
    }

    .swiper-slide__picture {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .swiper-slide-active {
        .swiper-slide__title {
            visibility: visible; 
        }
    }

    .swiper-pagination {
        position: relative;
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
    }
    .swiper-pagination-bullet {
        height: 3px;
        width: 30px;
        background-color: #999999;
        border-radius: 0;
    }
    .swiper-pagination-bullet:not(:first-child) {
        margin-left: 46px;
    }
    
    .swiper-pagination-bullet-active {
        background-color: $brand-orange-color;
    }

    &__small-caption {
        position: absolute;
        left: 0;
        top: 148px;
    }
    &__next-slide {
        position: absolute;
        right: 57px;
        bottom: 146px;
        z-index: 1;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            right: 89px;
            top: 41px;
            height: 124px;
            width: 2px;
            background-color: $brand-orange-color;
            z-index: 100;
        }
    }
}
