.container {
    max-width: 1146px;
    padding: 0 12px;
    margin: 0 auto;
}

.btn-with-an-arrow {
    padding-bottom: 5px;
    display: inline-flex;
    @include open600;
    font-size: 14px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    color: #fff;

    .icon-arrow {
        transform: translate(11px, -1px);
    }
}