/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 version
*/

.container {
    max-width: 1146px;
    padding: 0 12px;
    margin: 0 auto;
}

.btn-with-an-arrow {
    padding-bottom: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    @include open600;
    font-size: 0.875rem;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;

    @media screen and (max-width:370px){
        font-size: 0.75rem;
    }

    .icon-arrow {
        -webkit-transform: translate(11px, -1px);
            -ms-transform: translate(11px, -1px);
                transform: translate(11px, -1px);
    }
}

.small-caption {
    @include open400;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #fff;
    @media screen and (max-width:370px) {
        font-size: 0.75rem;
    }
}

.small-caption_brand-color {
    color: $brand-orange-color;
}

.small-caption_with-vertical-line {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 37px;
        height: 124px;
        width: 2px;
        background-color: $brand-orange-color;
    }
}

.title-h2 {
    @include merriweather400;
    @include adaptive-font(24, 44);
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    @media screen and (max-width:820px) and (max-height: 420px) {
        line-height: 30px !important;
    }
    @media screen and (max-width:420px){
        line-height: 30px !important;
    }
}

.position-of-the-person {
    @include open400;
    color: #fff;
    font-size: 0.8125rem;
    letter-spacing: normal;
}

.btn-one {
    width: 220px;
    padding: 20px 38px;
    border: none;
    background-color: $brand-orange-color;
    color: #232323;
    @include open600;
    font-size: 1.0625rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;

    &:hover {
        color: #fff;
        -webkit-box-shadow: 3px -3px 6px $brand-orange-color;
                box-shadow: 3px -3px 6px $brand-orange-color;
    }
    @media screen and (max-width:800px) {
        width: 180px;
        padding: 20px 25px;
        font-size: 0.875rem;
        line-height: 20px;
    }
}