.container {
    max-width: 1146px;
    padding: 0 12px;
    margin: 0 auto;
}

.btn-with-an-arrow {
    padding-bottom: 5px;
    display: inline-flex;
    @include open600;
    font-size: 14px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    color: #fff;

    .icon-arrow {
        transform: translate(11px, -1px);
    }
}

.small-caption {
    @include open400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.small-caption_brand-color {
    color: $brand-orange-color;
}

.small-caption_with-vertical-line {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 37px;
        height: 124px;
        width: 2px;
        background-color: $brand-orange-color;
    }
}

.title-h2 {
    @include merriweather400;
    font-size: 44px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
}

.position-of-the-person {
    @include open400;
    color: #fff;
    font-size: 13px;
    letter-spacing: normal;
}

.btn-one {
    width: 220px;
    padding: 20px 38px;
    border: none;
    background-color: $brand-orange-color;
    color: #232323;
    @include open600;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    transition: .25s;

    &:hover {
        color: #fff;
        box-shadow: 3px -3px 6px $brand-orange-color;
    }
}